Checks: >
  -*,
  clang-analyzer-core.*,
  clang-analyzer-cplusplus.*,
  clang-analyzer-deadcode.*,
  clang-analyzer-security.*,
  bugprone-dangling-handle,
  bugprone-sizeof-expression,
  bugprone-string-constructor,
  bugprone-use-after-move,
  performance-for-range-copy,
  performance-inefficient-string-concatenation,
  performance-inefficient-vector-operation,
  performance-move-const-arg,
  performance-unnecessary-copy-initialization,
  portability-simd-intrinsics
WarningsAsErrors: '*'
HeaderFilterRegex: '^(?!.*third_party/).*(include/rgbpicker|src)/.*'
SystemHeaders: false
